* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=New+Tegomin&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  /*  Phones */
  .search-box:focus {
    box-shadow: none !important;
    width: 18rem !important;
    font-size: 1.4rem !important;
  }
}

@media only screen and (min-width: 500px) {
  /*  Laptops/Desktops */
  .search-box:focus {
    box-shadow: none !important;
    width: 30rem !important;
    font-size: 1.5rem !important;
  }
}
.search-box {
  width: 18rem !important;
  font-size: 1.4rem !important;
}

.navbar {
  height: 5rem !important;
}

.card {
  width: 14rem !important;
  height: 26rem;
  background-color: rgb(148, 135, 116) !important;
  margin-bottom: 2rem !important;
  padding: 4px;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(203, 209, 209, 0.5) !important;
}

a {
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
}

a:hover {
  color: rgb(116, 116, 116) !important;
}

.images {
  background-color: #282c34 !important;
}

.poster-image {
  width: 100% !important;
  height: 18vw !important;
  object-fit: cover;
}

.container-movies {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
  background-color: #9fa1a5;
  height: 100vh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 -5px;
}

.inner-container h1 {
  font-family: Montserrat;
  text-transform: uppercase;
}

.inner-container p {
  font-size: 1.4rem;
}

.flex-item {
  margin: 0 10px;
}

.ratings {
  display: flex;
  justify-content: flex-start;
}

.rating-item {
  margin: 0 20px;
}

.imdb {
  color: gold;
}

.rt {
  color: rgb(167, 60, 41);
}

.time {
  color: green;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
